# Directories


# Files
/staging/resize-image/*.png
/staging/resize-image/*.jpeg
/staging/resize-image/*.jpg
/staging/resize-image/resized/*.png
/staging/resize-image/resized/*.jpeg
/staging/resize-image/resized/*.jpg